<!DOCTYPE html>
<html>
  <head>
  <body>
    
    <title> {{myname}} Projects </title>
    {% include 'bootstrap.html' %}
    
    
  </head>
<body>
  <div class="container">
  <h1 class="text-center"> {{myname}} Projects </h1> 
  {% include 'banner.html'%}
  <h2 class="text-center"> About me </h2>
  <p> Hi, I'm Hadeel, an AI practitioner at Armco Digital. I'm passionate about using AI to solve real-world problems and make a positive impact. I'm particularly skilled in Python programming, and I've used it to develop a number of successful AI projects.
  One of my most notable achievements was leading a large-scale AI project that significantly improved operational efficiency within my organization. The project involved developing a machine learning model that could automate a complex and time-consuming task. The model was able to achieve a 90% accuracy rate, which resulted in significant cost savings and improved productivity.
  I'm always looking for new challenges and opportunities to apply my AI skills. I'm particularly interested in using AI to solve problems in the healthcare and environmental sectors. I believe that AI has the potential to make a real difference in the world, and I'm excited to be a part of that.
  If you're interested in learning more about my work, or if you have any questions about AI, please don't hesitate to reach out. I'm always happy to talk about my passion! </p>
    
<h2 class="text-center mt-2 mb-4"> Projects </h2>
<div> 
  {% for item in myskills %}
  {% include 'myProjects.html' %}
    {% endfor %}
</div>
<div class="text-center">
  <a href="/contactme" type="button" class="btn btn-primary">Contact Me</a>
<p> copy right , {{myname}} <p>
  </div>
</body>
</html>
